In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('precious_metals_historical_data.csv')
df.head()

,Date,Silver_Price,Gold_Price,Platinum_Price,Silver_Returns,Gold_Returns,Platinum_Returns,Gold_Silver_Ratio,Silver_Volatility_30d,Gold_Volatility_30d,Platinum_Volatility_30d,Silver_MA50,Silver_MA200,Gold_MA50,Gold_MA200
0,2/3/2016,13.95,109.250000,84.940002,NaN,NaN,NaN,7.831541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/4/2016,14.17,110.570000,87.260002,0.015771,0.012082,0.027313,7.803105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/5/2016,14.34,112.320000,87.919998,0.011997,0.015827,0.007564,7.832636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2/8/2016,14.59,113.830002,89.199997,0.017434,0.013444,0.014559,7.801919,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2/9/2016,14.51,113.580002,89.849998,-0.005483,-0.002196,0.007287,7.827705,NaN,NaN,NaN,NaN,NaN,NaN,NaN